<div class="container">
  <div class="row">
    <div class="col-md-6 col-12 card-apiario">
      <div class="body-apiario mb-4 d-flex">
        <div class="qtd-colmeias"><img src="/assets/img/bee.png"> 5 colmeias</div>
        <div class="title">Apiário - Capixingui</div>
        <div class="desc-body mt-auto">
          <div class="desc mb-2">Descrição de um apiário Capixingui</div>
          <div class="location"><i><i class="fa fa-map-marker" aria-hidden="true"></i> Ortigueira - PR</i></div>
          <div class="time"><i class="fa fa-clock-o" aria-hidden="true"></i> Criado a 42 dias</div>
        </div>
        <div class="btn-show d-flex">
          <!-- <img src="/assets/img/honeypot.png" alt=""> -->
          <div class="desc-show">Detalhes da produção</div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-12 card-apiario">
      <div class="body-apiario mb-4 d-flex">
        <div class="qtd-colmeias"><img src="/assets/img/bee.png"> 3 colmeias</div>
        <div class="title">Apiário - Jataí</div>
        <div class="desc-body mt-auto">
          <div class="desc mb-2">Descrição de um apiário de Jataí</div>
          <div class="location"><i><i class="fa fa-map-marker" aria-hidden="true"></i> Londrina - PR</i></div>
          <div class="time"><i class="fa fa-clock-o" aria-hidden="true"></i> Criado a 27 dias</div>
        </div>
        <div class="btn-show d-flex">
          <!-- <img src="/assets/img/honeypot.png" alt=""> -->
          <div class="desc-show">Detalhes da produção</div>
        </div>
      </div>
    </div>
  </div>
</div>